

/*Author: http://www.binarytheme.com */

/*=======================================
    GENERAL STYLES
==================================================*/
body {
         background-color:#fff;
          font-family:'Open Sans', sans-serif;
    font-size:14px;
}

.nav a {
    color:#ffffff !important;
}
.navbar-header a {
    color:#ffffff !important;
    padding-right:100px;
}

.text-center {
    text-align:center;
}

.top-pad {
    padding-top:70px;
}


h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}
h1 {
   
    font-weight:700;
    font-size:50px;
    color:#ff0000; /* red color code */
}

h2 {
   
    font-weight:600;
    font-size:30px;

}

h3{
    
    font-weight:700;
    font-size:20px;

}
h4{
    
    font-weight:400;
    font-size:16px;

}
p {
    font-weight:400;
    line-height:29px;
    padding-bottom:50px;
}


