
@model IEnumerable<Thunder.Models.Profile>
@using Thunder.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Find</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Occupation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Profile profile in @Model)
        {
            <tr>
                <th> @Html.DisplayFor(modelitem => profile.UserId)</th>
                <td> @Html.ActionLink(profile.FirstName, "ViewProfile/", "User",
                        new { userId = profile.UserId }, null)</td>
                <td> @Html.DisplayFor(modelitem => profile.LastName)</td>
                <td> @Html.DisplayFor(modelitem => profile.Occupation)</td>
            </tr>
        }

    </tbody>
</table>
