@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <div class="navbar-header" style="margin-top:15px;">
        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
        {
            <ul class="nav navbar-nav">
                <li>@Html.TextBox("searchString")</li>
                <li><input type="submit" value="Search" /></li>
            </ul>
        }
    </div> 
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{Html.RenderAction("_ShowUsernamePartial", "Home",null);}
            </li>
            @{Html.RenderAction("_FriendRequestPartial", "Home");}
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrera", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
