@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Hitta din partner idag!</h2>
    <p class="lead">Med Thunder kan du matchas ihop med en partner som tar dig på kukN eller pussyN</p>
    <p class="lead">Registerar dig idag och få en låda med choklad hemskickad till dig</p>
    <p><a>@Html.ActionLink("Logga in", "Login", "Account")</a></p>
</div>

