<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ASP .NET About Us Template  by binary theme</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- custom CSS here -->
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row top-pad">

            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2  text-center">
                <h1> Thunder </h1>
                <p>
                    Välkommen till Thunder
                    Hitta din partner idag och få dig det knull du alltid velat ha

                </p>
            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-4 text-center">
                    <img class="img-circle" width="200" height="200" src="~/Image/Bert-1190408898.jpg">
                    <h3>Person Name</h3>
                    <h4>Job Profile Goes Here</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                        Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <img class="img-circle" src="~/Image/img2.jpg">
                    <h3>Person Name</h3>
                    <h4>Job Profile Goes Here</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                        Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <img class="img-circle" src="~/Image/img1.jpg">
                    <h3>Person Name</h3>
                    <h4>Job Profile Goes Here</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                        Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.
                    </p>
                </div>
                <p><a>@Html.ActionLink("Logga in", "Login", "Account")</a></p>
            </div>
        </div>
    </div>


    <!--Core JavaScript file  -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!--bootstrap JavaScript file  -->
    <script src="~/Scripts/bootstrap-profile.js"></script>
</body>
</html>

